EXPO_PUBLIC_API_URL=
EXPO_PUBLIC_OIDC_CLIENT=
EXPO_PUBLIC_OIDC_SECRET=
EXPO_APP_CONTACT_MAIL=
EXPO_PUBLIC_APP_CONTACT_MAIL=
EXPO_PUBLIC_APP_CONTACT_PHONE=
EXPO_PUBLIC_APP_NAME=NoPestsAllowed
EXPO_PUBLIC_APP_OWNER=
EXPO_PUBLIC_APP_CONTACT_ADDRESS=
